*{
  margin:0;
  padding:0;
}
.container{
  background-color:white;
 
}
ul{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background-color: brown;
}

ul>li{
  align-items: center;
  width:60%;
}